@charset "UTF-8";

body {
  background-color: #23a8e1;
}

.login_bar {
  text-align: right;
}

.logBtn {
	background-color: transparent;
	border: 0px;
	font-size: 16px;
	cursor: pointer;
	color: rgb(245, 234, 199);
	padding: 8px 12px;
	border-radius: 4px;
	outline : none;
}

.logBtn:hover {
  background-color: rgb(39, 132, 238);
}

p {
	color : white;
	margin-bottom : 20px;	
}

h1 {
	color: rgb(245, 234, 199);
	font-size : 75px;
	margin-bottom : 20px;
}

.form {
	position : absolute;
  	display: flex;
  	flex-direction : column;
  	width : 800px;
  	height : 500px;
  	margin : 0;
  	padding : 0;
  	left : 50%;
  	top : 50%;
  	transform : translate(-50%, -50%);
}

#id {
	width : 400px;
	height : 40px;
	padding-left : 10px;
	border-radius : 4px;
	outline : none;
	border : none;
	margin-bottom : 20px;
}

#email{
	width : 400px;
	height : 40px;
	padding-left : 10px;
	border-radius : 4px;
	outline : none;
	border : none;
	margin-bottom : 30px;
}

#findBtn {
	width : 410px;
	height : 45px;
	background-color : #FD4C72;
	color : white;
	border-radius : 4px;
	outline : none;
	border : none;
	font-size : 17px;
	font-weight : bold;
	cursor : pointer;
}

#findBtn:active {
	background-color : #fd3361;
}

@media all and (max-width: 480px) {
    .form {
    	position : absolute;
    	display : flex;
    	flex-direction : column;
    	width : 90vw;
    	height : 50vw;
    	left : 50%;
    	top : 50%;
    	transform : translate(-50%, -80%);
    }
    
    #id {
    	width : 87vw;
    }
    
    #email {
    	width : 87vw;
    }
    
    #findBtn {
    	width : 90vw;
    }
    
    h1 {
    	font-size : 50px;
    }
}